
body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--base-color);
    color: var(--textc-color);
    transition: background-color 1s ease,colors 1s ease;
}

:root{
    --base-color: #ffffff;
    --textc-color: #000000;
    --secon-color: #000000;
}
body.darkmode{
  --base-color:#000000;
  --textc-color:#ffffff;
  --secon-color:#ffffff;
}
body.darkmode .sidebar img {
    filter: invert(1);
}



.wrapper {
    display: flex; 
    align-items:flex-start ;
}

.sidebar {
    width: 150px ; 
    display: flex;
    position: sticky;
    flex-direction: column; 
    background-color: var(--base-color);
    top: 0;
    height: 100vh;
    box-shadow: 15px 0px 15px rgba(0,0,0,0.1);
    z-index: 10;
}


.sidebar a {
    flex: 1; 
    display:flex;
    align-items: center; 
    justify-content: center;
    text-decoration: none;
    color: var(--secon-color);
    font-weight: bold;
    border-bottom: 5px solid var(--secon-color);
    border-right: 5px solid;
    padding: 10px;
}


.btn-h { background-color: var(--base-color); } 
.btn-a { background-color: var(--base-color) ;} 
.btn-p { background-color:var(--base-color) ; } 
.btn-e { background-color:var(--base-color); }


.sidebar a:hover {
    filter: brightness(1.1);
    font-size: 1.1rem;
}

.content {
    flex: 1;
    padding: 30px;
    background-color: var(--base-color);

}


#theme-switch {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
    cursor: pointer;
    background: var(--textc-color);
    color: var(--base-color);
    border: none;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.darkmode{
    --base-color: #000000;
    --textc-color: #ffffff;
    --secon-color: #ffffff;

}
@media screen and (max-width: 600px) {
    .wrapper {
        flex-direction: column; 
    }

    .sidebar {
        width: 100%;          
        height: 70px;          
        flex-direction: row;  
        position: fixed;       
        bottom: 0;             
        top: auto;
        box-shadow: 0px -5px 15px rgba(0,0,0,0.1);
    }

    .sidebar a {
        border-right: none;  
        border-bottom: none;
        padding: 5px;
    }

    .content {
        padding: 20px;
        margin-bottom: 80px;  
    }

    #theme-switch {
        top: 10px;            
        right: 10px;
    }
}